body,
html{
	width 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(hanuman.png) no-repeat center center fixed; 
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
ul	{
	color: blue;
	border: dashed 1px;
}